.footer {
  padding: 28px 104px 26px;
}

@media screen and (max-width: 770px) {
  .footer {
    padding: 20px 40px 18px;
  }
}

@media screen and (max-width: 540px) {
  .footer {
    padding: 20px 16px 22px;
  }
}

.footer__container {
  display: grid;
  align-items: end;
  grid-template-columns: min-content 1fr max-content min-content;
  margin: auto;
  max-width: 1232px;
}

@media screen and (max-width: 992px) {
  .footer__container {
    align-items: start;
  }
}

@media screen and (max-width: 540px) {
  .footer__container {
    grid-template-columns: 1fr 96px;
    grid-template-rows: 1fr 22px;
    grid-row-gap: 16px
  }
}

.footer__copyright {
  margin: 0;
  grid-column: 1/3;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
}

@media screen and (max-width: 540px) {
  .footer__copyright {
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

.footer__menu {
  grid-column: 3/4;
}

@media screen and (max-width: 540px) {
  .footer__menu {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.footer__menu-items {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

@media screen and (max-width: 540px) {
  .footer__menu-items {
    flex-direction: column;
  }
}


.footer__menu-item {
  margin-right: 37px;
}

@media screen and (max-width: 992px) {
  .footer__menu-item {
    margin-right: 0;
    margin-left: 17px;
  }
}

@media screen and (max-width: 540px) {
  .footer__menu-item {
    margin-left: 0;
    line-height: 48px;
  }
}


.footer__link {
  display: block;
  font-weight: 400;
  color: inherit;
  text-decoration: none;
}

.footer__icons {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  grid-column: 4/5;
}

@media screen and (max-width: 540px) {
  .footer__icons {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.footer__icon-wrapper {
  padding-left: 24px;
}

.footer__icon-link {

}

.footer__icon {
  display: block;
}