.cardList__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 16px;
}

@media screen and (max-width: 770px) {
  .cardList__cards {
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 540px) {
  .cardList__cards {
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
}
