.cardList {
  background-color: #F5F6F7;
  padding: 62px 104px 80px;
}

@media screen and (max-width: 770px) {
  .cardList {
    padding: 32px 40px 40px;
  }
}

@media screen and (max-width: 540px) {
  .cardList {
    padding: 24px 16px 32px;
  }
}

.cardList__container{
  margin: 0 auto;
  max-width: 1232px;
}

.cardList__container_align_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardList__not-found-icon {
  margin-top: 18px;
}

.cardList__not-fount-title {
  margin: 24px 0 0;
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
}

.cardList__not-fount-text {
  margin: 16px 0 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #B6BCBF;
}

.cardList__title {
  max-width: 712px;
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  padding: 18px 0 64px;
  margin: 0;
}

@media screen and (max-width: 770px) {
  .cardList__title {
    padding: 8px 0 32px;
    font-size: 30px;
    line-height: 34px;
  }
}

@media screen and (max-width: 540px) {
  .cardList__title {
    padding: 8px 0 24px;
  }
}

.cardList__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 16px;
}

@media screen and (max-width: 770px) {
  .cardList__cards {
    grid-gap: 8px;
  }
}

@media screen and (max-width: 540px) {
  .cardList__cards {
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
}
